# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [12]:
#code here

# H0: dragon avg <= grass avg
# H1: dragon avg > grass avg


dragon_sample = df[df["Type 1"]=="Dragon"]["HP"]
dragon_sample.head()

159    41
160    61
161    91
365    75
366    75
Name: HP, dtype: int64

In [13]:
grass_sample = df[df["Type 1"]=="Grass"]["HP"]
grass_sample.head()

0     45
1     60
2     80
3     80
48    45
Name: HP, dtype: int64

In [15]:
grass_sample.mean()

np.float64(67.27142857142857)

In [16]:
dragon_sample.mean()

np.float64(83.3125)

In [14]:
st.ttest_ind(dragon_sample, grass_sample, alternative="greater")[1]

np.float64(0.0002567969150153481)

In [ ]:
print("p value is smaller than 0.05. We reject H0 and can state that according to data Dragon HP has an higher average than Grass")

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [18]:
legendary_sample = df[df["Legendary"]==True]
legendary_sample

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
157,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
158,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
162,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [19]:
non_legendary_sample = df[df["Legendary"]==False]
non_legendary_sample

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
787,Gourgeist Super Size,Ghost,Grass,85,100,122,58,75,54,6,False
788,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
790,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

In [ ]:
#HP
legendary_sample_hp = legendary_sample["HP"]
legendary_sample_hp

non_legendary_sample_hp = non_legendary_sample["HP"]
non_legendary_sample_hp

156     90
157     90
158     90
162    106
163    106
      ...
795     50
796     50
797     80
798     80
799     80
Name: HP, Length: 65, dtype: int64

In [ ]:

#attack
legendary_sample_attack = legendary_sample["Attack"]
legendary_sample_attack

non_legendary_sample_attack = non_legendary_sample["Attack"]
non_legendary_sample_attack

st.ttest_ind(legendary_sample_attack, non_legendary_sample_attack, alternative="two-sided")[1]

print("Reject H0. Attack is diferent")

np.float64(7.827253003205333e-24)

In [ ]:

#Defense
legendary_sample_defense = legendary_sample["Defense"]
legendary_sample_defense

non_legendary_sample_defense = non_legendary_sample["Defense"]
non_legendary_sample_defense

p = st.ttest_ind(legendary_sample_defense, non_legendary_sample_defense, alternative="two-sided")[1]

print(f"Reject H0. Defense is diferent. P-value: {p}")

Reject H0. Attack is diferent. P-value: 1.5842226094427255e-12

In [27]:

#Sp.Atk
legendary_sample_spAtk = legendary_sample["Sp. Atk"]
legendary_sample_spAtk

non_legendary_sample_spAtk = non_legendary_sample["Sp. Atk"]
non_legendary_sample_spAtk

p = st.ttest_ind(legendary_sample_spAtk , non_legendary_sample_spAtk , alternative="two-sided")[1]

print(f"Reject H0. Sp.Atk is diferent. P-value: {p}")

Reject H0. Sp.Atk is diferent. P-value: 6.314915770427265e-41

In [29]:

#Sp.Def

legendary_sample_spDef = legendary_sample["Sp. Def"]
legendary_sample_spDef

non_legendary_sample_spDef = non_legendary_sample["Sp. Def"]
non_legendary_sample_spDef

p = st.ttest_ind(legendary_sample_spDef , non_legendary_sample_spDef , alternative="two-sided")[1]

print(f"Reject H0. spDef is diferent. P-value: {p}")

Reject H0. spDef is diferent. P-value: 1.8439809580409597e-26

In [30]:

#Speed

legendary_sample_speed = legendary_sample["Speed"]
legendary_sample_speed

non_legendary_sample_speed = non_legendary_sample["Speed"]
non_legendary_sample_speed

p = st.ttest_ind(legendary_sample_speed , non_legendary_sample_speed , alternative="two-sided")[1]

print(f"Reject H0. spDef is diferent. P-value: {p}")

Reject H0. spDef is diferent. P-value: 2.3540754436898437e-21

In [31]:
print("In all categories the averages from one sample are different than the other. We can reject H0")

In all categories the averages from one sample are different than the other. We can reject H0

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [32]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [38]:
def euc_dist(row):
    from scipy.spatial.distance import euclidean
    school = (-118, 34)
    hospital = (-122, 37)
    spot = (row["longitude"],row["latitude"])

    distance_school = euclidean(spot, school)
    distance_hospital = euclidean(spot, hospital)

    if distance_school < 0.5 or distance_hospital < 0.5:
        return "Close"
    else:
        return "Far"
df["Close/far"] = df.apply(euc_dist, axis=1)

In [ ]:
#H0 avg far <= close
#H1 avg far > close

Close/far
Far      10171
Close     6829
Name: count, dtype: int64

In [47]:
far_sample = df[df["Close/far"]=="Far"]["median_house_value"]

close_sample = df[df["Close/far"]=="Close"]["median_house_value"]

In [48]:
far_sample.mean()

np.float64(180678.44105790975)

In [49]:
close_sample.mean()

np.float64(246951.98213501245)

In [52]:
p = st.ttest_ind(far_sample, close_sample, alternative="greater")[1]

print(f"Fail to reject H0. P-value: {p} is above 0.05 ")

Fail to reject H0. P-value: 1.0 is above 0.05